{% load static %}
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>Administrator login management</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="{% static 'administrator/css/font.css' %}">
        <link rel="stylesheet" href="{% static 'administrator/css/xadmin.css' %}">
        <script src="{% static 'administrator/lib/layui/layui.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'administrator/js/xadmin.js'%}"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <script src="/static/lang/en.js"></script>
        <![endif]-->
        <script>
            // Whether to enable the refresh memory tab function
            // var is_remember = false;
        </script>
    </head>
    <body class="index">
        <div class="container">
            <div class="logo">
                <a href="{% url 'backstage:index' %}">Administrator management</a></div>
            <div class="left_open">
                <a><i title="expand left column" class="iconfont">&#xe699;</i></a>
            </div>

            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">{{ info.adminname }}</a>
                    <dl class="layui-nav-child">
                        <!-- Secondary menu -->

                        <dd>
                            <a href="{% url 'backstage:logout' %}">Exit</a></dd>
                    </dl>
                </li>

            </ul>
        </div>

        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">


                 <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="product management">&#xe723;</i>
                            <cite>product management</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('Product List','{% url "backstage:order" %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>Product List</cite></a>
                            </li>

                        </ul>
                    </li>

					   <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="Member management">&#xe6b8;</i>
                            <cite>User information management</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('user list','{% url 'backstage:user_list' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>user list</cite></a>
                            </li>

                         

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="Admin management">&#xe726;</i>
                            <cite>Admin management</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('admin list','{% url 'backstage:admin_list' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>admin list</cite></a>
                            </li>

                        </ul>
                    </li>



                </ul>
            </div>
        </div>

        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>Data visualized</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">close current</dd>
                        <dd data-type="other">close other</dd>
                        <dd data-type="all">close all</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='{% url "backstage:welcome" %}' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>

        <script>
            var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>