{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>User similarity</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'administrator/js/echarts.min.js' %}"></script>
</head>
<body>

<div class="panel-group" id="accordion">
    {% for info in similar_information %}
	<div class="panel panel-default" >
		<div class="btn btn-info" data-toggle="collapse" data-target="#demo{{ forloop.counter }}" style="width:100%;text-align:center;background:#43568cad">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
                    User{{ info.userid }}similarity:{{ info.desc }}
				</a>
			</h4>
		</div>
		<div class="collapse" id="demo{{ forloop.counter }}">
			<div class="panel-body">
				<div id="main{{ forloop.counter }}" style="width: 600px;height:400px;float:left;"></div>
                <div style="width: 650px;height:400px;float:left;margin-left:5px;">
                        <!--Similarity matching users-->
                        <div class="list-group">
                            <a href="#" class="list-group-item active" style="background:#0d131d4d">
                                <h4 class="list-group-item-heading">
                                    Similarity matching users
                                </h4>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                 Username：  {{ info.people_name.username }}
                                </h4>
                                <p class="list-group-item-text">
                                    {{ info.people_looked_moive }}
                                </p>
                            </a>

                        </div>
                        <!--Recommended Movies Section-->
                        <div class="list-group">
                            <a href="#" class="list-group-item active" style="background:#5d9ace">
                                <h4 class="list-group-item-heading">
                                    Highly recommended product
                                </h4>
                            </a>
                            {% if  info.product_info %}
                            <a href="#" class="list-group-item" style="display:block;overflow:hidden;height:auto;">
                                <div style="width:30%;float:left;text-align:center;">
                                    <img  style="width:115px" src="/static/{{ info.product_info.image }}" >
                                </div>
                                <div style="width:70%;float:left;">
                                    <table class="table">

                                        <tbody>
                                            <tr>
                                                <td style="font-size:14px;font-weight:bold"><span style="font-weight:bolder">product name：</span>{{ info.product_info.productname }}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:14px;font-weight:bold"><span style="font-weight:bolder">Product introduction：</span>{{ info.product_info.desc|truncatechars:113 }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </a>
                            {% else %}

                                <a href="#" class="list-group-item" style="display:block;overflow:hidden;height:auto;">No recommended product</a>
                            {% endif %}
                        </div>

                </div>



                <script type="text/javascript">

						var myChart = echarts.init(document.getElementById('main{{ forloop.counter }}'));


						var labelRight = {
							position: 'right'
						};

                        option = {
                          title: {
								text: 'User similarity visualization',
								subtext: 'User {{ info.userid }} matches other users',
								sublink: 'http://e.weibo.com/1341556070/AjwF2AgQm'
							},
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {            // Coordinate axis indicator, the axis trigger is valid
                                    type: 'shadow'        // Default is straight line, optional: 'line' | 'shadow'
                                }
                            },
                            legend: {
                                data: [ 'negative correlation', 'positive correlation']
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'category',
                                    axisTick: {
                                        show: false
                                    },
                                    data: {{ info.echarts_data1|safe }}
                                }
                            ],
                            series: [
                                {
                                    name: 'positive correlation',
                                    type: 'bar',
                                    stack: 'User similarity',
                                    label: {
                                        show: true
                                    },
                                    emphasis: {
                                        focus: 'series'
                                    },
                                    data: [
                                        {% for valuess in info.echarts_data2 %}
                                           {% if valuess >= 0 %}
                                                {{ valuess }},
                                           {% else %}
                                               0,
                                           {% endif %}

                                        {% endfor %}
                                    ]
                                },
                                {
                                    name: 'negative correlation',
                                    type: 'bar',
                                    stack: 'User similarity',
                                    label: {
                                        show: true,
                                        position: 'left'
                                    },
                                    emphasis: {
                                        focus: 'series'
                                    },
                                    data: [
                                         {% for valuess in info.echarts_data2 %}
                                           {% if valuess < 0 %}
                                                {{ valuess }},
                                            {% else %}
                                               0,
                                            {% endif %}

                                        {% endfor %}
                                    ]
                                }
                            ]
                        };
						// Displays the chart using the configuration item and data just specified.
						myChart.setOption(option);
					</script>








			</div>

		</div>
	</div>
    {% endfor %}
</div>

</body>
</html>