{% load static %}
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <title>welcome page-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="{% static 'administrator/css/font.css' %}">
        <link rel="stylesheet" href="{% static 'administrator/css/xadmin.css' %}">
        <link rel="stylesheet" href="{% static 'administrator/css/layui.css' %}">
        <script type="text/javascript" src="{% static 'administrator/lib/layui/layui.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'administrator/js/xadmin.js' %}"></script>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
       <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
       <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <!-- Make IE8/9 support media queries to be raster compatible -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <script src="/static/lang/en.js"></script>
        <![endif]--></head>

    <body>

          <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" action="#" method="post" enctype="multipart/form-data">
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>productname</label>
                        <div class="layui-input-inline">
                            <input  type="text" id="productname" name="productname" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>

                    <div class="layui-form-item">
                       <label for="username" class="layui-form-label">
                            <span class="x-red"></span>Product Description</label>
                        <div class="layui-input-inline">
                            <textarea  type="text" id="desc" name="desc" required="" lay-verify="required" autocomplete="off" class="layui-input"></textarea></div>
                    </div>
                     <div class="layui-form-item">
                       <label for="username" class="layui-form-label">
                            <span class="x-red"></span>product price</label>
                        <div class="layui-input-inline">
                            <input  type="text" id="price" name="price" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>


                    <div class="layui-form-item layui-form-text">
                        <label for="desc" class="layui-form-label">Upload product images</label>
                        <div class="layui-upload-drag" id="test11">
                          <i class="layui-icon"></i>
                          <p>Click to upload, or drag and drop the file here to modify</p>
                          <div class="layui" id="uploadDemoView">
                            <hr>
                            <img alt="Render after successful upload"  id="preview" style="max-width: 196px">
                          </div>
                        </div>


            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
               <button class="layui-btn" lay-filter="add" lay-submit="" id="commits">add this item</button></div>
            </form>
            </div>
        </div>
                <script>
                        layui.use(['form', 'layer', 'upload'], function () {
                            var layer = layui.layer;
                            var upload = layui.upload;
                            var $ = layui.jquery;
                            var img_url = ''
                            upload.render({
                                elem: '#test11', //upload icon
                                url: '{% url 'backstage:product_add' %}',//upload address
                                auto: false,//Do not upload automatically after selecting a file
                                bindAction: '#commits',
                                size: 20000,
                                //callback before upload
                                before: function (obj) {
                                    this.data = {
                                        productname:$('input[name="productname"]').val(),
                                        desc:$('textarea[name="desc"]').val(),
                                        price:$("input[name='price']").val()
                                    };
                                    console.log(this.data)
                                },
                                //Callback after file selection
                                choose: function (obj) {
                                    obj.preview(function (index, file, result) {
                                        console.log(file.name)
                                        $('#preview').attr('src', result);
                                        $('#preview').attr('title', file.name);
                                    })
                                },
                                //Operation success callback
                                done: function (res, index, upload) {
                                    layer.msg("Successful",{icon:6,time:1000},function(){
                                        parent.window.location.reload();});




                                },
                                //upload error callback
                                error: function (res, index, upload) {
                                    //layer.alert('upload failed！' + res);
                                }
                            });
                        })
                </script>



    <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //Custom validation rules
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return 'Nickname must be at least 5 characters';
                        }
                    },
                    pass: [/(.+){6,12}$/, 'Password must be 6 to 12 digits'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return 'The two passwords do not match';
                        }
                    }
                });

                //monitor commits
                form.on('submit(add)',
                function(data) {
                    console.log(data);
                    layer.alert("success", {
                        icon: 6
                    },
                    function() {
                        // get frame index
                        var index = parent.layer.getFrameIndex(window.name);
                        //close the current frame
                        parent.layer.close(index);
                    });
                    return false;
                });

            });</script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>





</html>