{% load static %}
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>welcome page-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="{% static 'administrator/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'administrator/css/xadmin.css' %}">
    <script type="text/javascript" src="{% static 'administrator/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'administrator/js/xadmin.js' %}"></script>
    <!-- Make IE8/9 support media queries to be raster compatible -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form action="" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>rolename
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" required="" lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">
                        have permission
                    </label>
                    <table  class="layui-table layui-input-block">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" lay-filter="father" title="User Management">
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <input name="id[]" lay-skin="primary" type="checkbox" title="User deactivation" value="2">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="User delete">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="User modification">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="User password change">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="user list">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="User password change">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="user list">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="User password change">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="user list">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   
                                    <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="Article management" lay-filter="father">
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="Article added">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="Article deleted">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="Article deleted">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="Article encryption">
                                        <input name="id[]" lay-skin="primary" type="checkbox" value="2" title="Article list">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">
                       describe
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="Please enter content" id="desc" name="desc" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="add">Increase</button>
              </div>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //Custom validation rules
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return 'Nickname must be at least 5 characters';
              }
            }
            ,pass: [/(.+){6,12}$/, 'Password must be 6 to 12 digits']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return 'The two passwords do not match';
                }
            }
          });

          //monitor commits
          form.on('submit(add)', function(data){
            console.log(data);
            //Send asynchronous, submit data to php
            layer.alert("success", {icon: 6},function () {
                // get frame index
                var index = parent.layer.getFrameIndex(window.name);
                //close the current frame
                parent.layer.close(index);
            });
            return false;
          });


        form.on('checkbox(father)', function(data){

            if(data.elem.checked){
                $(data.elem).parent().siblings('td').find('input').prop("checked", true);
                form.render(); 
            }else{
               $(data.elem).parent().siblings('td').find('input').prop("checked", false);
                form.render();  
            }
        });
          
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>