{% extends 'user_template.html' %}
{% block sty %}
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
{% endblock %}
{% block content %}


    <div class="col-md-6">
            <div class="card">
              <div class="card-body" style="margin:10px auto;">
                <form   onsubmit="return false;">
                     <div class="form-group">
                        <label for="example-nf-email">Name</label>
                        <input class="form-control" id="username" type="text" name="username"  value="{{ info.username }}" placeholder="Please enter a name">
                     </div>
                  <div class="form-group">
                    <label for="example-nf-email">Mailbox</label>
                    <input class="form-control" id="email" type="email" value="{{ info.email }}"  name="email" placeholder="Please enter your email address..">
                  </div>
                    <div class="form-group">
                    <label for="example-nf-email">Cell phone number</label>
                    <input class="form-control" id="phonenum" type="text" name="phonenum" value="{{ info.phonenum }}" placeholder="Please enter your cell phone number">
                  </div>
                  <div class="form-group">
                    <label for="example-nf-password">Address</label>
                    <input class="form-control" type="text" id="position" value="{{ info.position }}" name="position" placeholder="Please enter your address">
                  </div>
                  <div class="form-group">
                    <button id="sub" class="btn btn-primary" >Modify information</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


    <script>
    var layer ;
                        layui.use('layer', function(){
                            layer = layui.layer;
                        });
        $("#sub").click(function () {
            var username=$("#username").val();
            var email=$("#email").val();
            var phonenum=$("#phonenum").val();
            var position=$("#position").val();
            $.ajax({
                url:"{% url 'home:change_info' %}",
                type:'post',
                data:{
                    "username":username,
                    "email":email,
                    "phonenum":phonenum,
                    "position":position
                },
                success:function (data) {

                    console.log(data)
                    console.log(data.flag)
                    if(data.flag==1) {
                       layer.msg("Update successful",{icon:6,time:1000},function(){
                        location.reload();
                        });
                    }
                    else{
                        layer.msg("Update failed, the information you changed has been used!！",{icon:5,time:1000})
                    }
                }
                
            })
        })

    </script>

{% endblock %}
