{% extends 'user2_template.html' %}
{% block sty %}
	<link href="/static/index/search/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/index/search/css/cubeportfolio.min.css" rel="stylesheet" />
	<link href="/static/index/search/css/style.css" rel="stylesheet" />
    <script src="/static/index/search/js/jquery.min.js"></script>

	<!-- Theme skin -->
	<link id="t-colors" href="/static/index/search/skins/default.css" rel="stylesheet" />
    <style>
    *{
        padding:0;
    }
    </style>
{% endblock %}
	<!-- boxed bg -->
{#	<link id="bodybg" href="/static/index/search/bodybg/bg1.css" rel="stylesheet" type="text/css" />#}
{% block content2 %}
 <section class="product_section sec_ptb_100 clearfix">
            <div class="main_slider clearfix" data-slick='{"dots": false}'>
					<div class="item d-flex align-items-center clearfix" data-background="assets/images/slider/modern_minimal/bg_01.jpg">
						 <div class="container">
                        <div id="wrapper" >

                            <div>
                                 <form class="form-horizontal" role="form" style="width:50%;margin:40px auto;">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-info col-sm-2 control-label" style="text-align: center;" value="search">
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="focusedInput" type="text" name="keyword" placeholder="Please enter the product you are looking for">
                                                </div>
                                            </div>

                                 </form>
                            </div>




                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="heading">search result</h4>

                                            <div  class="">

                                                    {% for item in infos %}
                                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                            <div class="fashion_minimal_product">
                                                                <div class="item_image">
                                                                    <a href="{% url 'home:detail_page' %}?id={{ item.id }}" class="image_wrap">
                                                                        <img src="/static/{{ item.image }}" alt="image_not_found">
                                                                    </a>
                                                                </div>
                                                                <div class="item_content">
                                                                    <h4 class="item_title">
                                                                        <a href="{% url 'home:detail_page' %}?id={{ item.id }}">{{ item.productname }}</a>
                                                                    </h4>
                                                                    <span class="item_price">{{ item.price }}</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endfor %}

                                            </div>


                                        </div>
                                    </div>
                                </div>



                        </div>
                         </div>
                    </div>
            </div>
 </section>

	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="/static/index/search/js/jquery.easing.1.3.js"></script>
	<script src="/static/index/search/js/bootstrap.min.js"></script>
	<script src="/static/index/search/js/jquery.appear.js"></script>
	<script src="/static/index/search/js/stellar.js"></script>
	<script src="/static/index/search/js/classie.js"></script>
	<script src="/static/index/search/js/uisearch.js"></script>
	<script src="/static/index/search/js/jquery.cubeportfolio.min.js"></script>
	<script src="/static/index/search/js/google-code-prettify/prettify.js"></script>
	<script src="/static/index/search/js/animate.js"></script>

    <script src="/static/index/search/js/modernizr.custom.js"></script>
    <script src="/static/index/search/js/custom.js"></script>


{% endblock %}